.FinishedQuiz {
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 10px;
}

.FinishedQuiz ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.FinishedQuiz ul li i{
    margin: 0 10px;
}

.success {
    color: rgba(129, 220, 84, 0.7);
}

.error {
    color: rgba(236, 72, 127, 0.7);
}